title: euclidlib
author: the euclidlib team
logo: euclidlib-patch.png

execute:
  execute_notebooks: force

latex:
  latex_documents:
    targetname: book.tex

sphinx:
  config:
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    bibtex_bibfiles:
      - references.bib
